@import url('https://fonts.googleapis.com/css?family=Roboto');

body {background:#111;font-family:'Roboto',Arial;font-size:16px}
a {color:#bde;text-decoration:none}
a:hover {color:#cef;text-decoration:underline}
img {border:0;vertical-align:bottom}

input,textarea,select {background: transparent;border: none;border-bottom:1px dashed #07c;outline:none;font-style: italic;color:#eee}
select option {background:#aaa;color:#000}
input:focus {border-bottom: 1px dashed #bbb;}
input[type=submit],input[type=button]{border-radius:3px;background: #066ca7;border: 1px solid #0669b6;padding: 5px 25px 5px 25px;color: #eee;box-shadow: inset -1px -1px 4px #27a;font-weight:bold;font-style:normal}
input[type=range]{border-bottom:none}

#chartRewardsContainer {display:none;position:relative;width:100%;height:250px;margin-bottom:18px}
.filterfield {margin-right:70px}

label > span{display: inline-block;float:left;width:95px}


#mainwrapper {max-width:1024px;margin:16px auto;padding:0 5px 0 5px}

.box_small {box-sizing:border-box;width:100%;max-width:328px;height:135px;float:left;margin:0 20px 10px 0;padding:0;background:#1a5088 linear-gradient(to bottom,#1a5099,#0b6fa0);border:1px solid #0d2a50;color:#e5e5e5;box-shadow: 1px 1px 2px 0px #034}
.box_small > .header {width:100%;font-size:12px;font-weight:bold;text-align:center;background:#0d2a50;border-bottom:1px solid #222;box-shadow:0px 1px 2px 0px #111;color:#eee}
.box {width:100%;border-radius:8px 8px 0 8px;margin:0 auto 25px auto;padding:0;background:#555 linear-gradient(to bottom,#0a5a71,#000 150px);box-shadow:1px 1px 2px 0px #444;color:white}
.box > .header {background:#066ca7 url('pics/boxheader_back.png');border-radius:8px 8px 0 0;width:100%;height:19px;font-size:14px;font-weight:bold;box-shadow:0px 1px 2px 0px #222;padding-top:2px}
.box > .header > span {display:block;width:320px;height:14px;margin: auto;padding:1px;border:1px solid #777;border-radius: 8px;background:#094c79 url('pics/boxheader_a_back.png');text-align:center;text-decoration:none;font-size:13px;font-weight:bold;color:#eee;}
.box > .header > span > .seen {float:right;margin:0 8px 0 -24px}
.listitems {list-style-type:none;max-height:212px;padding:16px;margin:0;overflow-x:hidden;overflow-y:scroll}
.listitems > li {border-bottom:1px dashed #333;white-space:nowrap}
.listitems > li:hover {background-color:#1a5088}
.listitems > li > .timeago {font-size:13px;color:#aaa;width:60px;display:inline-block}
#latestposts {height:212px;}

.votingpower {position:relative;top:-1px;left:-1px;width:100%;min-width:60px;height:16px;font-size:13px;text-align:center;border:1px solid #000;border-right:1px solid #bbb;background:#f6f9ff linear-gradient(to right,#032,#0c5)}
.votingpowerback {width:100%;height:15px;background:#013;border:1px solid #000;margin:5px 0 5px 0}

#atsymbol {display:inline;color:#e5e5e5;font-size:13px}

#footer {font-size:13px;text-align:center;color:#d5d5d5}

#accountinfo {display:none;position:absolute;top:0;left:0;width:220px;height:110px;border:1px solid #0d2a50;background:#1a5088 linear-gradient(to bottom,#1a5099,#0b6fa0);box-shadow: 1px 1px 2px 0px #034}
#accountinfo > .header {width:100%;color:#eee;font-size:12px;font-weight:bold;text-align:center;background:#0d2a50;border-bottom:1px solid #222;box-shadow:0px 1px 2px 0px #111}
#accountinfo > span {display:block;color:white;margin:8px;font-size:15px}

@media screen and (max-width: 1024px) {
	.box_small {
  max-width: 100%;
		margin: 0 0 15px 0;
		float: none;
	}
}
@media screen and (max-width: 600px) {
 .filterfield {margin-right:14px}
}